/* makes website more flexible and calculates itself*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    color: #fff;
    margin: 0;
}

/* contains info int seperated little containers, do not go over 1200px (max width = keep restructure for any shapes) em = padding rem = font sizing */ 
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

#company-name {
    color: #DEC9E9;
    font-size: 1.5rem;
}

#welcome, #top5, #team {
    padding: 4em 0;
}

header {
    background-color: black;
}

#header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

nav ul li {
    padding-left: 1.125em;
}


nav ul a:link,
nav ul a:visited {
    text-decoration: none;
    color: #DEC9E9;
}

nav ul a:link,
nav ul a:hover {
    text-decoration: none;
    color: #fff;
}

/* vh = available viewport height */
#hero-banner {
    height: 60vh;
    background-color: #512b9d;
    /* two dots */
    background-image: url(../images/ice-cream-cones.jpg);
    background-repeat: no-repeat;
    /* cover = take available width and covering it (an shows all of image) */
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    background-color: #7251B5;
}

#welcome + p {
    max-width: 50%;
}

#top5 {
    background-color: black;
    color: #DEC9E9;
}

#top5 ol {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
}

#top5 li {
    width: 50%;
    padding-right: 15%;
}

#team {
    background-color: #7251B5;

}

#team h2, #team .team-intro {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}

.team-intro {
    padding-bottom: 3em;
}

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 0%2.5;
}

.team-grid article {
    background-color: #6647a6;
    border-radius: 20px;
    padding: 2em 0;
    text-align: center;

}

.team-grid article img {
    filter: grayscale(100%);
    border-radius: 50%;
    width: 80px;
}

.team-grid h3 {
    text-transform: uppercase;
}

.team-grid p {
    margin-top: 0.25;
}

footer {
    background-color: black;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1,h2,h3 {
    font-family: 'Wix Madefor Display', sans-serif;
}

h1 {
    font-size: 6rem;
    color: #fff;
}













