/* makes website more flexible and calculates itself*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    /* color: #fff; */
    margin: 0;
}

/* contains info int seperated little containers, do not go over 1200px (max width = keep restructure for any shapes) em = padding rem = font sizing */ 
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

#company-name {
    color: #DEC9E9;
    font-size: 1.5rem;
}

#welcome, #top5, #team {
    padding: 4em 0;
}

header {
    background-color: black;
}

#header {
    
}

h1,h2,h3 {
    font-family: 'Wix Madefor Display', sans-serif;
}

h1 {
    font-size: 6rem;
}

.team-grid {
    background-color:#7251B5;
}














/* old */

nav {
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    padding-bottom: 0.5em;
    border-radius: 8px;
}

nav ul {
display: flex;
flex-direction:row;
}

.workers > img {
    filter: grayscale();
    border-radius: 50%;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.black-bg {
    background-color:black;
}

.welcome {
    background-color: #7251B5;
    display: flex;
    padding-bottom: 0%;
    padding-left: 10%;
}

.purple-bg {
    background-color: #7251B5;
}

footer {
    background-color: black;
    text-align: center;
}

.team {
    display: inline-block
}

h2 {
    text-align: center;
    padding-top: 5%;
}

h2 + p {
    text-align: center;
    display: flex;
    padding-left: 35%;
    padding-right: 35%;
}

.container {
    padding: 20px;
    text-align: left;
    display: block;
    padding-right: 70%;
    color: #DEC9E9;
}

.workers {
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
}

.wrapper {
    max-width: fit-content;
}

.imagebg {
    background-color: black;
}

.imagebg > img {
    width: 90%;
    display: grid;
    display: table-column 1fr;
}