h2,h1,h3 {
font-family: 'Wix Madefor Display', sans-serif;
}

body {
font-family: 'Nunito', sans-serif;
color:#fff;
line-height: 1.5;
}

.top5 {
    background-color: aqua;
}

header {
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: black;
}

img {
    filter: grayscale();
    border-radius: 50%;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.black-bg {
    background-color:black;
}

.welcome {
    background-color: #7251B5;
    display: flex;
    padding-bottom: 0%;
    padding-left: 10%;
}

.purple-bg {
    background-color: #7251B5;
}

footer {
    background-color: black;
    text-align: center;
}

.team {
    display: inline-block
}

h2 {
    text-align: center;
    padding-top: 5%;
}

h2 + p {
    text-align: center;
    display: flex;
    padding-left: 35%;
    padding-right: 35%;
}